@using IKEA.BLL.Models.Departments
@model UpdatedDepartmentDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h1>Edit Department</h1>
<br />
<form asp-action="Edit" asp-controller="Department" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="form-lable" asp-for="Code"></label>
        <input asp-for="Code" class="form form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-lable" asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-lable" asp-for="Description"></label>
        <textarea asp-for="Description" class="form form-control"></textarea>
    </div>
    <div class="form-group">
        <label class="form-lable" asp-for="CreationDate"></label>
        <input type="date" asp-for="CreationDate" class="form form-control" />
        <span asp-validation-for="CreationDate" class="text-danger"></span>
    </div>
    <br />
    <div>
        <input type="submit" value="Edit" class="btn btn-primary" /> |
        <a asp-controller="Department" asp-action="Index" class="btn btn-secondary">
            Cancel
        </a>
    </div>
</form>